{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set features = page.header.about_company_features %}
{% set image = page.media[module.image] %}

{% block render_block %}
	<div class="about-company-wrapper slide-up {{ module.parent_classes }}">
		<div class="container">

            <div class="contents-wrapper {{ module.child_classes }}">

                <div class="header-content">
                    {% if module.header_title != null %}
                        <h3>{{ module.header_title.translatable|striptags('<span>')|raw }}</h3>
                    {% endif %}

                    {% if module.header_desc != null %}
                        <p>{{ module.header_desc.translatable|raw }}</p>
                    {% endif %}
                </div>

                <div class="company-contents {{ module.direction }}">
                    <div class="contents">
                        <div class="reviewers">
                            <img src="{{ page.media[module.reviewers_thumbs].url }}" alt="Reviewers Thumbnails"/>
                            <span>{{ module.reviewers_count.translatable|raw }}</span>
                        </div>
                        <div class="contents-data">
                            {% if module.content_title != null %}
                                <h3 class="content-title">{{ module.content_title.translatable|striptags('<span>')|raw }}</h3>
                            {% endif %}

                            <div class="">
                                {{ page.content|raw }}
                            </div>

                            <!-- Button -->

                            {% if module.button_text.translatable != null %}
                                <a href="/{{ grav.language.getActive }}{{ module.button_url }}" class="button button-outline about-company-btn">
                                    {{ module.button_text.translatable }}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M15.7071 6.29289C15.3166 5.90237 14.6834 5.90237 14.2929 6.2929C13.9024 6.68342 13.9024 7.31659 14.2929 7.70711L17.5858 11H4C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H17.5858L14.2929 16.2929C13.9024 16.6834 13.9024 17.3166 14.2929 17.7071C14.6835 18.0976 15.3166 18.0976 15.7072 17.7071L20.7018 12.7124C20.7202 12.6942 20.738 12.6753 20.755 12.6558C20.8225 12.5781 20.8761 12.4926 20.9158 12.4024C20.9696 12.2801 20.9996 12.145 21 12.003V12C21 11.9969 21 11.9938 21 11.9907C20.9988 11.865 20.9745 11.7447 20.931 11.6341C20.8822 11.5098 20.8076 11.3933 20.7071 11.2929L15.7071 6.29289Z" fill="white"/>
                                    </svg>
                                </a>
                            {% endif %}
                        </div>

                       
                    </div>

                    {% if image != null %}
                        <div class="image">
                            {% if module.img_on_content != null %}  
                                <img class="img-on-content" src="{{ page.media[module.img_on_content].url() }}" />
                            {% endif %}

                            <img class="main-img" src="{{ image.url }}" alt="About Company Image"/>

                            {% if module.overlay_image != null %}  
                                <img class="overlay-image" src="{{ page.media[module.overlay_image].url() }}" />
                            {% endif %}
                        </div>
                    {% endif %}

                    
                </div>

            </div>
		
		</div>

	</div>
{% endblock %}
