{% extends 'partials/variables.html.twig' %}

{% set module = page.header.text_left %}
{% set image = page.media[page.header.text_left.image] %}
{% set features = page.header.text_left_features %}

{% block render_block %}
<div class="paragraph text-left text-left-animation {{ module.classes }}">
    <div class="container">
        <div class="text-left-container">
            <div class="right-section">
                <img class="" src="{{ image.url }}" alt="icon"/>
              

            </div>

            <div class="text-left-text">
                {% if module.subtitle is not empty %}
                <div class="sub-title">
                    <h4>{{ module.subtitle.translatable|striptags('<span>')|raw }}</h4>
                </div>
                {% endif %}
                <div class="block-title">
                    <h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>
                </div>
                <p>{{ page.content|striptags('<span>')|raw }}</p>

               {% if module.buttons %}
                    {% for button in module.buttons  %}
                        <a class="button" href="{{ button.link }}">
                            {{ button.text.translatable }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                <g clip-path="url(#clip0_502_14386)">
                                    <path d="M12.0469 0.5C5.45578 0.5 0 5.86203 0 12.4531C0 19.0442 5.45578 24.5 12.0469 24.5C18.638 24.5 24 19.0442 24 12.4531C24 5.86203 18.638 0.5 12.0469 0.5ZM16.3557 13.0662L9.96412 19.4578C9.65639 19.7655 9.1575 19.7655 8.84977 19.4578L7.97559 18.5836C7.66786 18.2758 7.66786 17.777 7.97559 17.4692L12.3773 13.0676C12.7157 12.7291 12.7134 12.1795 12.372 11.8439L7.98506 7.53073C7.67288 7.2238 7.67077 6.72125 7.98033 6.41169L8.85323 5.53878C9.15961 5.23241 9.65583 5.23086 9.96408 5.53531L16.3519 11.8439C16.692 12.1798 16.6936 12.7282 16.3557 13.0662Z" fill="white"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_502_14386">
                                        <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    {% endfor %}
                {% endif %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}
