{% set noHeroContent = page.header.no_hero_content %}
{% set bg = page.media[noHeroContent.section_background_image].url ?? '' %}

<section class="no-hero-section" style="{% if(bg) %}background-image: url('{{ bg }}'){% endif %}">
	<div class="container">
		<div class="no-hero-wrapper">

			<div class="head-content">

				{% if  noHeroContent.subtitle != null %}
					<div class="subtitle">
						<img class="hero_bl" src="{{ url('theme://images/wave.svg') }}" />

						<h4>{{ noHeroContent.subtitle.translatable|raw }}</h4>

					</div>
					
	
				{% endif %}

				{% if  noHeroContent.title != null %}

					<h1>{{ noHeroContent.title.translatable|raw }}</h1>
				{% else %}
					<h1>{{ page.header.title|raw }}</h1>


					<nav class="d-inline-block no-hero-breadcrumb" aria-label="breadcrumb">
						<ol class="breadcrumb">
							{% for index, link in links %}
								{% set last = index + 1 == links|length %}
								<li class="breadcrumb-item {{breadcrumb_text_color}} {{ last ? 'active' : '' }}">
									{% if link.url %}
										<a href="{{ link.url }}" class="{{breadcrumb_text_color}}">{{ link.title }}</a>
									{% else %}
										{{ link.title }}
									{% endif %}
								</li>

								{% if index + 1 != links|length %}
									<li class="breadcrumb-item arry {{breadcrumb_text_color}}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
										</svg>
									</li>
								{% endif %}
							{% endfor %}
						</ol>
					</nav>
				{% endif %}

				{% if  noHeroContent.description != null %}
					<p> {{ noHeroContent.description.translatable }} </p>
				{% endif %}

				{% if noHeroContent.button_text != null %}
					<a href="{{ home_url|e }}{{ webdata('signup_url') }}" class="nohero-btn">
						<span>{{ noHeroContent.button_text.translatable }}</span>

						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M15.7071 6.29289C15.3166 5.90237 14.6834 5.90237 14.2929 6.2929C13.9024 6.68342 13.9024 7.31659 14.2929 7.70711L17.5858 11H4C3.44772 11 3 11.4477 3 12C3 12.5523 3.44772 13 4 13H17.5858L14.2929 16.2929C13.9024 16.6834 13.9024 17.3166 14.2929 17.7071C14.6835 18.0976 15.3166 18.0976 15.7072 17.7071L20.7018 12.7124C20.7202 12.6942 20.738 12.6753 20.755 12.6558C20.8225 12.5781 20.8761 12.4926 20.9158 12.4024C20.9696 12.2801 20.9996 12.145 21 12.003V12C21 11.9969 21 11.9938 21 11.9907C20.9988 11.865 20.9745 11.7447 20.931 11.6341C20.8822 11.5098 20.8076 11.3933 20.7071 11.2929L15.7071 6.29289Z" fill="white"/>
							</svg>
					</a>
				{% endif %}
			</div>
			<!-- End head-content-->

			<div class="image-contents">
				{% if noHeroContent.image_for_desktop %}
					<img class="no-hero-img-for-desktop" src="{{ page.media[noHeroContent.image_for_desktop].url }}" alt="no Hero Image" />
				{% endif %}
				
				{% if noHeroContent.image_top_left %}
					<img class="no-hero-img-top-left" src="{{ page.media[noHeroContent.image_top_left].url }}" alt="no Hero top left" />
				{% endif %}

				{% if noHeroContent.image_bottom_right %}
					<img class="no-hero-img-bottom-right" src="{{ page.media[noHeroContent.image_bottom_right].url }}" alt="no Hero bottom right" />
				{% endif %}
			</div>

		</div>
		<!-- End no-hero-wrapper -->
	</div>
</section>
